
@model cw1.Models.Petition
<link rel="stylesheet" href="~/Content/home.css" />
<div class="container">
    <!-- Show navbar -->
    @Html.Partial("_NavBar")


    <!-- Grid structure -->
    <div class="row">
        <!-- Jumbotron -->
        <div class="col-lg-12 col-sm-12">
            <div class="jumbotron text-danger">
                <div class="row">
                    <!-- Intro text -->
                    <div class="col-lg-6 col-sm-12">
                        <div class="spacer"></div>
                        <h1 class="text-primary">Help today</h1>
                        <h2 class="lead">Change the world one petition at a time</h2>
                        <hr />
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae turpis nisi. Vestibulum imperdiet est eget leo auctor tincidunt.</h5>
                        <br />
                        <h4><i>Don't know where to start?</i></h4>
                        <h5>Check out the most popular petition on the website:</h5>
                        <!-- Container for all petitions -->
                        <a href='@string.Format("http://localhost:57791/Home/SinglePetition?petitionId={0}", Model.Id)'><h4>@Model.Title</h4></a>
                    </div>
                    <!-- Intro illustration -->
                    <div class="col-lg-6 col-sm-12">
                        <img src="~/Content/illustrations/elections_07.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Placeholder text (company info) -->
    <!-- Row 1 -->
    <div class="row text-justify">
        <div class="col-lg-7 col-lg-offset-1">
            <h2>Who are we?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia convallis tempus. Etiam non tempor sapien, eget tempus tellus. Aenean vehicula nunc in iaculis tristique. Duis eleifend eros at facilisis imperdiet. Duis porttitor ante diam, quis aliquam est varius ac. Duis id sagittis sapien. Morbi consequat viverra lacus, vel luctus lectus facilisis vitae. Praesent efficitur nisl at risus vehicula, euismod consectetur massa viverra. Curabitur a lorem maximus, condimentum sem in, ullamcorper nisl. In egestas magna ac lorem aliquet interdum. Nullam fringilla et turpis nec laoreet. </p>
        </div>
        <div class="col-lg-3">
            <img src="~/Content/illustrations/elections_09.svg" />
        </div>
    </div>

    <!-- Placeholder box -->
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-sm-9 box">
            <h1>For every petition you sign, we donate a bunch of money!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia convallis tempus. Etiam non tempor sapien, eget tempus tellus.</p>
        </div>
    </div>
    <div class="row"></div>    <!-- Empty row for extra padding -->
    <!-- Row 2 -->
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <img src="~/Content/illustrations/elections_10.svg" />
        </div>
        <div class="col-lg-7">
            <br />
            <h2>How does it help?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia convallis tempus. Etiam non tempor sapien, eget tempus tellus. Aenean vehicula nunc in iaculis tristique. Duis eleifend eros at facilisis imperdiet. Duis porttitor ante diam, quis aliquam est varius ac. Duis id sagittis sapien. Morbi consequat viverra lacus, vel luctus lectus facilisis vitae. Praesent efficitur nisl at risus vehicula, euismod consectetur massa viverra. Curabitur a lorem maximus, condimentum sem in, ullamcorper nisl. In egestas magna ac lorem aliquet interdum. Nullam fringilla et turpis nec laoreet. </p>
        </div>
    </div>
</div>


