
@{
    ViewBag.Title = "Petitions";
}

<style>
   .container {
        width:100%;
   }
</style>
<div id="allPetitions" class="container-fluid">
    @Html.Partial("_NavBar")
    @model List<cw1.Models.Petition>

    <table>
        @foreach (var p in Model)
        {
            @Html.Partial("_RenderPetitionRow", p)
        }
    </table>
    <button id="addPetition">Add new petition</button>
</div>

<div id="addPetitions" class="container-fluid">
    @Html.Partial("_RenderNewPetition", new cw1.Models.Petition())
</div>

<script>
    $(document).ready(function () {
        $("#addPetitions").hide();
    });

    $("#addPetition").on("click", function () {
        var user = sessionStorage.getItem("user");
        if (user != null) {
            $("#allPetitions").fadeOut(function () {
                $("#addPetitions").fadeIn();
            });
        } else {
            alert("you need to be signed in!");
        }
    });

    //LOCAL STORAGE SIGNATURES
    $(".signBtn").on("click", function () {
        alert(this.id);
        var petId = this.id;
        var json = localStorage.getItem(petId);
        var user = sessionStorage.getItem("user");
        if (user != null) {
            if (json == null) {
                alert("He");
                var names = [];
                names[0] = user;
                localStorage.setItem(petId, JSON.stringify(names));
            } else {
                alert("Huh?");
                var storedNames = [];
                storedNames = JSON.parse(json);
                alert(storedNames);
                storedNames.push(user);
                localStorage.setItem(petId, JSON.stringify(storedNames));
            }
        } else {
            alert("You need to sign in to sign bro")
        }
    });

</script>