
@{
    ViewBag.Title = "Petitions";
}

<style>
    .container {
        width: 100%;
    }
    .box {
        background-color: darkslateblue !important;
        color: navajowhite;
        border-radius: 5px;
    }
</style>
<div id="allPetitions" class="container-fluid">
    @Html.Partial("_NavBar")
    @model List<cw1.Models.Petition>

    <div class="row">
        <div class="box">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>All petitions</h1>
                <h4>Give us a hand!</h4>
            </div>
        </div>
    </div>

    @foreach (var p in Model)
    {
        @Html.Partial("_RenderPetitionRow", p)
    }
</div>

<button id="addPetition">Add new petition</button>

<div id="addPetitions" class="container-fluid">
    @Html.Partial("_RenderNewPetition", new cw1.Models.Petition())
</div>

<script>
    $(document).ready(function () {
        $("#addPetitions").hide();
    });

    $("#addPetition").on("click", function () {
        var user = sessionStorage.getItem("user");
        if (user != null) {
            $("#allPetitions").fadeOut(function () {
                $("#addPetitions").fadeIn();
            });
        } else {
            alert("you need to be signed in!");
        }
    });

    $(".signBtn").on("click", function ()) {
        var user = sessionStorage.getItem("user");
        var current = this.id;
        var redirect = current + ":" + user;
    }
</script>