@model List<cw1.Models.Petition>
<link rel="stylesheet" href="~/Content/home.css" />
<div id="headerContainer" class="container">
    <!-- Show navbar -->
    @Html.Partial("_NavBar")
    
    <!-- Grid structure -->
    <div class="row">
        <!-- Jumbotron -->
        <div class="col-lg-12">
            <div class="jumbotron text-danger">
                <div class="row">

                    <!-- Intro text -->
                    <div class="col-sm-12 col-lg-6">
                        <div class="spacer"></div>
                        <h1 class="text-primary">All petitions</h1>
                        <h2 class="lead">Here's a list of all active petitions.</h2><hr />
                        <h5>Contribute today: <i>petitions with more than 10000 signatures make a difference!</i></h5>
                        <p>Do you have an idea about something that needs changed?</p>
                        <!-- Add new petition btn-->
                        <button id="addPetition" class="btn-danger btn-lg">Add a new petition</button>
                    </div>

                    <!-- Add new petition panel -->
                    <div id="addPetitions" class="col-sm-12 col-lg-6">
                        <div class="spacer"></div>
                        @Html.Partial("_RenderNewPetition", new cw1.Models.Petition())
                    </div>
                    <div id="introIllustration" class="col-lg-6">
                        <img src="~/Content/illustrations/elections_01.svg" />
                    </div>
                </div>
            </div>
        </div>  <!-- /jumbotron -->
    </div>
</div>

<!-- Container for all petitions -->
<div id="allPetitions" class="container">
    <div class="row">
        @foreach (var p in Model)
        {
            @Html.Partial("_RenderPetitionRow", p)
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#addPetitions").hide();  //hide new illustration panel
        $(".panel-title").onClick(function () {
            id = this.id;
            url = "http://localhost:57791/Home/SinglePetition?petitionId=" + this.id;
            window.location = url;
        });
       //$(" .deleteBtn").hide();
       // var admin = sessionStorage.getItem("admin");
       // if (admin != null) {
       //     $(".deleteBtn").show();
       // }
    });

    /* Onclick event for new petition button. Shows new petition panel */
    $("#addPetition").on("click", function () {
        var user = sessionStorage.getItem("user");
        if (user != null) { //check user is logged in
            $("#introIllustration").fadeOut(function () {   //hide illustration and replace with panel
                $("#addPetitions").fadeIn();
                $("#addPetition").hide();
            });
        } else {
            alert("Please login to add petitions.");    //users must be logged in to add petitions
        }
    });

    ///* Onclick event for sign button
    // * Redirects user to AddMember action with their username and the petition's id.
    // */
    //$(".signBtn").on("click", function () {
    //    var user = sessionStorage.getItem("user");
    //    if (user == null) { //check user is logged in
    //        alert("Please login to sign this petition.");
    //    } else {
    //        id = this.id;
    //        url = "http://localhost:57791/Home/AddMember?petitionId=" + this.id + "&username=" + user;
    //        window.location = url;
    //    }
    //});


    ///* Onclick event for sign button
    // * Redirects user to AddMember action with their username and the petition's id.
    // */
    //$(".deleteBtn").on("click", function () {
    //    var user = sessionStorage.getItem("user");
    //    if (user == null) { //check user is logged in
    //        alert("Please login to sign this petition.");
    //    } else {
    //        id = this.id;
    //        url = "http://localhost:57791/Home/DeletePetition?petitionId=" + this.id + "&username=" + user;
    //        window.location = url;
    //    }
    //});
</script>