
@{
    ViewBag.Title = "Petitions";
}

<style>
   .container {
        width:100%;
   }
</style>
<div class="container">
    @Html.Partial("_NavBar")
    @model List<cw1.Models.Petition>

    <table>
        @foreach (var p in Model)
        {
            @Html.Partial("_RenderPetitionRow", p)
        }
    </table>
</div>

