@model cw1.Models.Member
@using (Html.BeginForm("AddMember", "Login"))
{
<form role="form">
    <div class="form-group">
        <label for="newUsername">Username</label>
        @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="newName">Name</label>
        @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="newSurname">Surname</label>
        @Html.TextBoxFor(m => m.Surname, new { placeholder = "Surname", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="newPassword">Password</label>
        @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
    </div>
    <button id="signupSubmit" type="submit" class="btn btn-primary">Sign up</button>
</form>
}