@model List<cw1.Models.Member>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Errore</title>
</head>
<body>
    <hgroup>
        <h1>Error!</h1>
        <h2>@ViewBag.Message</h2>

    </hgroup>

    <p>Seems like this user doesn't exist. Try again.</p>
</body>
</html>
