
@{
    ViewBag.Title = "Login";
}

@model List<cw1.Models.Member>
<style>
    .spacer {
        padding: 1%;
    }
</style>
<script src="~/Scripts/login.js"></script>
<div id="loginForm" class="container-fluid text-center">
    <div class="spacer"></div>
    <div class="row">
        <p id="control">
            @ViewBag.Message
        </p>
    </div>
    <div class="spacer"></div>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/Content/illustrations/elections_03.svg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Login and start signing</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="spacer"></div>
                </div>
                @Html.Partial("_LoginMember", new cw1.Models.Member())
            </div>
            <div class="panel-footer">
                <small><i><b>Not a member yet?</b></i></small>
                <button id="signupBtn" class="btn btn-danger btn-xs">Sign up</button>
            </div>
        </div>
    </div>
</div>

<!-- SIGN UP -->
<div id="signupForm" class="container-fluid">
    <div class="spacer"></div>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/Content/illustrations/elections_03.svg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Become a member</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="spacer"></div>
                </div>
                @Html.Partial("_RenderNewMember", new cw1.Models.Member())
            </div>
            <div class="panel-footer">
                <small><i><b>Already a member?</b></i></small>
                <button id="showLogin" class="btn btn-success btn-xs">Login</button>
            </div>
        </div>
    </div>
</div>

<div id="loggedForm" class="container-fluid">
    <div class="spacer"></div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 text-center">
            <h2 id="welcome"></h2>
            <p>You're all done bro.</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#signupForm").hide();
        $("#loggedForm").hide();
    });

    $("#signupBtn").on("click", function () {
        $("#loginForm").fadeOut(function () {
            $("#signupForm").fadeIn();
        });
    });

    $("#showLogin").on("click", function () {
        $("#signupForm").fadeOut(function () {
            $("#loginForm").fadeIn();
        });
    });

</script>
