
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/login.js"></script>
<form>
    <input id="loginUsername" type="text" placeholder="username"/>
    <input id="loginPassword" type="password" placeholder="password" />
    <button id="loginSubmit" type="button">Login</button>
</form>