
@{
    ViewBag.Title = "Index";
}

<style>
    .container {
        width: 100%;
    }

    .spacer {
        padding: 5%;
    }

    .auto {
        margin: auto;
    }
</style>
<script src="~/Scripts/login.js"></script>

<div id="loginForm" class="container-fluid text-center">
    <div class="spacer"></div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h2>Please log in</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <form>
                <div class="form-group">
                    <input id="loginUsername" class="form-control" type="text" placeholder="username" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <div class="form-group">
                <input id="loginPassword" class="form-control" type="password" placeholder="password" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <button id="loginSubmit" type="button" class="btn btn-primary">Login</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <button id="signupBtn" class="btn btn-danger btn-xs">Sign up</button>
        </div>
    </div>
</div>

<div id="signupForm" class="container-fluid">
    <div class="spacer"></div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 text-center">
            <h2>Become a member</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            @Html.Partial("_RenderNewMember", new cw1.Models.Member())
        </div>
    </div>
    @*<div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <button id="signupSubmit" type="button" class="btn btn-primary">sign up</button>
        </div>
    </div>*@

    @model List<cw1.Models.Member>
    <table>
        <tr><th>Username</th><th>Name</th><th>Surname</th></tr>
        @foreach (var m in Model)
        {
            @Html.Partial("_RenderMemberRows", m)
        }
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#signupForm").hide();
    });

    $("#signupBtn").on("click", function () {
        $("#loginForm").fadeOut(function () {
            $("#signupForm").fadeIn();
        });
    });
</script>